.header {
    padding: 0 10px 0 10px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    // background-color: rgba(217, 226, 187, 0.5);
	display: flex;
	justify-content: space-between;
	align-items:center;
	&__official	{
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF;
	}
	&__name	{
		font-weight: 700;
		font-size: 25px;
		color: #FFFFFF;
		text-align: center;
		span	{
			display: block;
			font-size: 30px;
		}
	}
	&__phone	{
		display: block;
		font-weight: 700;
		font-size: 18px;
		color: $main-color;
        text-decoration: none;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
	}
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
}