.promo  {
	height: 600px;
	background: url("../img/bg_11.png") center (center/cover) no-repeat ;
    // background: #F6F6F6;
    position: relative;

    

    &__contacts, &__about, &__discount {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: $main-color;
        &:hover {
            color: $main-color;
        }
    }

	&__wrapper	{
        width: 100vw;
        top: 70px;
        position: relative;
	}
    &__wrapperMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        bottom: 5%;
        right: 10px;
        color: azure;
    }
	&__header	{
        text-shadow: 2px 2px 2px rgb(85, 86, 86);
        text-align: left;
		font-weight: 900;
        line-height: 1;
		font-size: 36px;
		text-transform: uppercase;
		color: $main-color;
        margin-bottom: 0;
        text-decoration: none;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
	}
	
	
	&__link	{
		margin-top: 18px;
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
		a {
			color: #FFFFFF;
			text-transform: uppercase;
			text-decoration:underline;
		}
	}
    &__item {
        height: 150px;
        width: 150px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}